CS-440-Aritificial[[:space:]]Intelligence/* linguist-vendored
CS-440-Aritificial[[:space:]]Intelligence/Xu-* linguist-vendored=false
CS-440-Aritificial[[:space:]]Intelligence/Xu-*.ipynb linguist-language=Python
CS-445-Machine[[:space:]]Learning/* linguist-vendored
CS-445-Machine[[:space:]]Learning/Xu-* linguist-vendored=false
